<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.edu.dao.PromotionSpaceMapper">

    <select id="findAllPromotionSpace" resultType="com.edu.domain.PromotionSpace">
        select * from promotion_space
    </select>


    <insert id="savePromotionSpace" parameterType="com.edu.domain.PromotionSpace">
        insert into promotion_space values(null,#{name},#{spaceKey},#{createTime},#{updateTime},null)
    </insert>

    <update id="updatePromotionSpace" parameterType="com.edu.domain.PromotionSpace">
        UPDATE promotion_space SET NAME = #{name},updateTime = #{updateTime} where id = #{id}
    </update>

    <select id="findPromotionSpaceById" parameterType="int" resultType="com.edu.domain.PromotionSpace">
        SELECT id,NAME FROM promotion_space WHERE id = #{id};
    </select>

</mapper>